*.exe
*.pdb
*.cache
*.dll
Thumbs.db

# output files from the OpenXmlPowerTools examples
**/DocumentAssembler/AssembledDoc.docx
**/DocumentAssembler01/AssembledDoc.docx
**/ChartUpdater01/Updated-Chart*
**/FormattingAssembler01/*out.docx
**/HtmlConverter01/*.html
**/HtmlConverter01/*_files
**/TextReplacer01/*out*
**/SpreadsheetWriter01/Test1.xlsx
**/SpreadsheetWriter02/Test2.xlsx
**/PivotTables01/NewPivot.xlsx
**/PivotTables01/QuarterlyPivot.xlsx
**/PivotTables01/QuarterlyUnitSalesWithPivot.xlsx

*.suo
*.user
*conflicted*
*FileListAbsolute.txt
*Settings.settings
[Bb]in/
[Oo]bj/
TestResults/

# NuGet Packages
*.nupkg
**/packages/*
