*.exe
*.pdb
*.cache
*.dll
Thumbs.db

# output files from the OpenXmlPowerTools examples
**/DocumentAssembler/AssembledDoc.docx
**/DocumentAssembler01/AssembledDoc.docx
**/ChartUpdater01/Updated-Chart*
**/FormattingAssembler01/*out.docx
**/HtmlConverter01/*.html
**/HtmlConverter01/*_files
**/TextReplacer01/*out*
**/SpreadsheetWriter01/Test1.xlsx
**/SpreadsheetWriter02/Test2.xlsx
**/PivotTables01/NewPivot.xlsx
**/PivotTables01/QuarterlyPivot.xlsx
**/PivotTables01/QuarterlyUnitSalesWithPivot.xlsx

*.suo
*.user
*conflicted*
*FileListAbsolute.txt
*Settings.settings
[Bb]in/
[Oo]bj/
TestResults/

# NuGet Packages
*.nupkg
**/packages/*
*.lock.json
*.nuget.props
*.nuget.targets

# Visual Studio
.vs/

# JetBrains
.idea/
_ReSharper.Caches/
/TestFiles/SH001-Table.xlsx
/TestFiles/SH002-TwoTablesTwoSheets.xlsx
/TestFiles/SH003-TableWithDateInFirstColumn.xlsx
/TestFiles/SH004-TableAtOffsetLocation.xlsx
/TestFiles/SH005-Table-With-SharedStrings.xlsx
/TestFiles/SH006-Table-No-SharedStrings.xlsx
/TestFiles/SH007-One-Cell-Table.xlsx
/TestFiles/SH008-Table-With-Tall-Row.xlsx
/TestFiles/SH009-Table-With-Wide-Column.xlsx
/TestFiles/SH101-SimpleFormats.xlsx
/TestFiles/SH102-9-x-9.xlsx
/TestFiles/SH103-No-SharedString.xlsx
/TestFiles/SH104-With-SharedString.xlsx
/TestFiles/SH105-No-SharedString.xlsx
/TestFiles/SH106-9-x-9-Formatted.xlsx
/TestFiles/SH107-9-x-9-Formatted-Table.xlsx
/TestFiles/SH108-SimpleFormattedCell.xlsx
/TestFiles/SH109-CellWithBorder.xlsx
/TestFiles/SH110-CellWithMasterStyle.xlsx
/TestFiles/SH111-ChangedDefaultColumnWidth.xlsx
/TestFiles/SH112-NotVertMergedCell.xlsx
/TestFiles/SH113-VertMergedCell.xlsx
/TestFiles/SH114-Centered-Cell.xlsx
/TestFiles/SH115-DigitsToRight.xlsx
/TestFiles/SH116-FmtNumId-1.xlsx
/TestFiles/SH117-FmtNumId-2.xlsx
/TestFiles/SH118-FmtNumId-3.xlsx
/TestFiles/SH119-FmtNumId-4.xlsx
/TestFiles/SH120-FmtNumId-9.xlsx
/TestFiles/SH121-FmtNumId-11.xlsx
/TestFiles/SH122-FmtNumId-12.xlsx
/TestFiles/SH123-FmtNumId-14.xlsx
/TestFiles/SH124-FmtNumId-15.xlsx
/TestFiles/SH125-FmtNumId-16.xlsx
/TestFiles/SH126-FmtNumId-17.xlsx
/TestFiles/SH127-FmtNumId-18.xlsx
/TestFiles/SH128-FmtNumId-19.xlsx
/TestFiles/SH129-FmtNumId-20.xlsx
/TestFiles/SH130-FmtNumId-21.xlsx
/TestFiles/SH131-FmtNumId-22.xlsx
/TestFiles/SH151-Custom-Cell-Format-Currency.xlsx
/TestFiles/SH152-Custom-Cell-Format.xlsx
/TestFiles/SH201-Cell-C1-Without-R-Attr.xlsx
/TestFiles/SH202-Cell-C1-D1-Without-R-Attr.xlsx
/TestFiles/SH203-Cell-C1-D1-E1-Without-R-Attr.xlsx
/TestFiles/SH204-Cell-A1-B1-C1-Without-R-Attr.xlsx
/TestFiles/Spreadsheet.xlsx
